
#home {


  font-weight: 200;
  .love {
    animation: .8s infinite beatHeart;
  }

  .container {

  }
  h3 {

    &:before {
      content: "— ";
    }
    font-style: italic;
    color: #6cab65;
    margin: 2rem;
    display: inline-block;
    font-weight: 200;
    font-size: 1.75em;
    text-align: left;
  }
  .testimony {
    margin-top: 2rem;
    background: linear-gradient(#f9fff7, 50%, #FFF);

    h3 {
      transform: translateY(65px);
    }

    //color: #FFF;

    .quotes {
      padding-top: 2rem;
    }
    blockquote {
      //box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.125);
      margin: 1rem;
      padding: 1rem;
      &:first-child {
        margin-top: 3rem;
      }
      &:nth-child(even) {
        text-align: right;
      }
      &:nth-child(right) {
        text-align: left;
      }
      p {
        &:before, &:after {
          content: "";
          display: inline-block;
          margin-right: 1rem;
          background: url('../img/quote-open.svg');
          background-size: cover;
          $w: 22px;
          width: $w;
          height: $w * 1.6;
        }
        &:after {
          transform: rotate(180deg);
          margin-left: 1rem;
        }
        font-size: 1.5rem;

      }
      img, .img {
        display: inline-block;
        vertical-align: middle;
        margin: 1rem;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid green;
      }
    }
  }

  @keyframes beatHeart {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .center {
    text-align: center;
  }

  .jumbotron {
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 0rem;
  }

  .sub-pitch {
    background: rgba(0,0,0,0.3175);
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    p {
      text-align: center;
      font-size: 1.75rem;
      font-weight: 200;
      color: #FFF;
    }
  }

  .service-icons h4 {
    text-align: center;
    font-weight: 200;
  }
  .pitch-head {
    @include media-breakpoint-up(lg) {
      transform: rotate(-7deg);
      padding-bottom: 5rem;
      padding-top: 3rem;
      min-width: 45em;
    }

    @include media-breakpoint-down(md) {
      .pitch {
        border: 0;
        padding: 0;
      }
    }
  }
  .pitch {
    text-align: center;
    //color: #98ca5e;
    border: 3px solid;
    padding-bottom: 2rem;
    text-shadow: 2px 2px green;
    color:#FFF;
    white-space: nowrap;
    margin-left: -15px; 
    font-size: 9rem;
    font-weight: 100;

    @include media-breakpoint-down(sm) {
      font-size: 6.5rem;
      white-space: normal;
      padding: 0;
      border:0;
    }
  }

  .mrceo {
    text-align: center;
    img {
      border-radius: 50%;
    }
    .img {
      display: inline-block;
      vertical-align: middle;
      margin: 1rem;
      background-size: cover;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid green;
    }
  }

}

