
#etphonehome {
    color: gold;
    font-weight: 100;
    font-size: 1.25rem;
  &:hover {

    color: #FFF;
  }
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
#home {
  .phone-number {
    display: inline-block;
    margin-top: 1rem;
    color: gold;
    font-weight: 100;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
  }


  font-weight: 200;
  .love {
    animation: .8s infinite beatHeart;
  }

  .serving, .serve-state, h2 {
    display:inline-block;
    vertical-align: middle;
  }
  .serving {
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  .ohio-gps {
    text-align: center;
    svg {
      transform: rotate(-10deg); 
    }
    &.light svg {
      width: 100px;
      height: 100px;
      path {
        stroke: #FFF;
        stroke-width: 10;
      }
      &> path {
        stroke: none;
      }
    }
  }

  .container {

  }
  .jumbotron {
    background-image: url('../img/springgreen.jpg');
    background-size: cover;
  }

  .payment-section {
    $pay-color:  #88AAAA;
    $email-color: #6cab65;
    .pay-pitch {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    em {
      color: $pay-color;
      font-weight: 600;
      text-align: center;
      width: 100%;
      display: inline-block;
    }


    .i-email {
      text-align: center;
      width: 100%;
      svg {
        width: 100%;
        height: 100px;
        path {
          stroke: $email-color;
        }
      }
      em {
        color: $email-color;
      }
    }

    .payment-types {
      margin: 0;
      text-align: center;
      width: 100%;
      overflow: hidden;
      //display: flex;
      //flex-direction: row;
      //justify-content: space-evenly;
      //flex-wrap: wrap;
      svg {
        height: auto;
        width: 12%;
        display: inline-block;
        text-align: center;
        max-width: 80px;
        margin: 2vw;
        min-width: 52px;
        white-space: nowrap;
        path {
          fill: $pay-color;
        }
      }
    }
  }
  //$box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);

  .leaf-hr {
    opacity: 0.675;
    $ratio: 1.24;
    $width: 30px;
    $height: $width*$ratio;
    background: linear-gradient(to right, #fff, #8bc34a, #FFF);
    margin-top: 50px;
    margin-bottom: 50px;
    height: 1px;
    text-align: center;
    img {
      margin: 0;
      background: #FFF;
      width: $width;
      height: $height;
      margin-top: -1*$height/2;
      &:after{

      }
    }
  }


  h3 {
    width: 100%;
    margin: 0;
    &:before {
      content: "— ";
    }
    &.centered {
      text-align: center;
      &:after{
        content: " —";
      }
    }
    &.right {
      text-align: right;
      &:before {
        content: "";
      }
      &:after {
        content: "— ";
      }
    }

    @include media-breakpoint-down(sm) { 
      &.centered {
        &:before {
          content: "" !important;
        }
        &:after {
          content: "" !important;
        }
      }
    }
    font-style: italic;
    color: #6cab65;
    margin: 2rem 0 2em 0;
    display: inline-block;
    font-weight: 200;
    font-size: 1.75em;
    text-align: left;
  }
  .testimony {
    margin-top: 2rem;
    background: linear-gradient(#f9fff7, 50%, #FFF);

    h3 {
      transform: translateY(65px);
    }

    //color: #FFF;

    .five-star-quotes {
      footer {
        display: inline-block;
        width: 200px;
        text-align: center;
      }
      padding-top: 2rem;
      .stars {
        text-align: center;
        img {
          width: 25px;
          height: 35px;
        }
      }
    }
    .quote-container {

      height: 100%;
      text-align: center;
      padding-bottom: 3rem;
      &:nth-child(even) {
        // text-align: right;
      }
      &:nth-child(right) {
        //text-align: left;
      }

      @include media-breakpoint-down(sm) {
        text-align: center !important;

      }
      blockquote {
        box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.06);
        padding: 2rem;

        height: 100%;
        &:first-child {
          margin-top: 3rem;
        }
        p {
          height: 50%;
          &:before, &:after {
            content: "";
            display: inline-block;
            margin-right: 1rem;
            background: url('../img/quote-open.svg');
            background-size: cover;
            $w: 22px;
            width: $w;
            height: $w * 1.6;
          }
          &:after {
            transform: rotate(180deg);
            margin-left: 1rem;
          }
          font-size: 1.5rem;

        }
        .author-img {
          display: inline-block;
          vertical-align: middle;
          margin: 1rem;
          background-size: cover;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 1px solid green;
        }
      }
    }
  }

  @keyframes beatHeart {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .center {
    text-align: center;
  }

  .jumbotron {
    background-color: #3d7936;
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 0rem;
  }

  .sub-pitch {
    background: rgba(0,0,0,0.3175);
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h2 {

      text-align: center;
      font-size: 1.35rem;
      font-weight: 200;
      color: #FFF;
      em {
      }
    }
  }

  .service-icons  {
    white-space: nowrap;
    h4 {
      text-align: center;
      font-size: 1rem;
      font-weight: 200;
    }
  }
  .pitch-head {
    @include media-breakpoint-up(lg) {
      transform: rotate(-12deg);
      padding-bottom: 5rem;
      padding-top: 3rem;
      min-width: 45em;
    }

    @include media-breakpoint-down(md) {
      .pitch {
        border: 0;
        padding: 0;
      }
    }
  }
  .pitch {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: 2px 2px green;
    color:#FFF;
    white-space: nowrap;
    margin-left: -15px; 
    font-size: 9rem;
    font-weight: 100;

    @include media-breakpoint-down(sm) {
      font-size: 6.5rem;
      white-space: normal;
      padding: 0;
      border:0;
    }
  }

  .mrceo {
    text-align: center;
    img {
      border-radius: 50%;
    }
    .img {
      display: inline-block;
      vertical-align: middle;
      margin: 1rem;
      background-size: cover;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid green;
    }
  }

}

