#services {

  .container-fluid {
    background: #f9fff7;
  }

  .column2{
    //  background: linear-gradient(to right,#d7ffd2,#FFF)
  }
  .section2 {
    //padding:0;
    // margin:0;

  }
  .service-cards {


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) ) ;
    @include media-breakpoint-down(md) { 
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr) ) ;
    
    }
    grid-gap: 1rem;

    &:after{
      // content: "";
      //flex: auto;
    }

    .service-card {

      border: 1px solid #d7ffd2;
      background: #FFF;
      padding: 2rem; 
      border-radius: 8px;
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      box-shadow: 5px 5px 5px 0px rgba(215,255,210,0.19);
      width: 100%;
      &:hover {
        transform: scale(1.025);
        cursor: pointer;
        box-shadow: 7px 7px 7px 0px rgba(215,255,210,0.5);
      }
      h4 {
        border-left: 3px solid #d7ffd2;
        padding: 1rem;
        font-weight: 300;
        font-size: 1.5rem;
        @include media-breakpoint-down(md) {
          font-size: 1.25rem;
        }
      }
      span {
        color: #98b794;
        font-style: italic;
        font-weight: 100;
      }
    }
  }
  .hero {
    background: linear-gradient(110deg,#79BB3B,#52B775);
    //background: `url(${lawn})`; 
    //background-size: 'cover';
    color: #FFF;
    //padding: 2rem 2rem 5rem 2rem;
  }
  .hero-title {
    font-weight: 100; 
    font-size: 6rem;
    margin-top: 4rem;
    transform: rotate(0deg);
    //  margin-bottom: 2rem;
    text-shadow: 2px 2px green;
    @include media-breakpoint-down(md) {
      font-size: 4rem;
    }
  }
  .hero-subtitle {
    font-weight: 200;
    font-size: 1.75em;
    line-height: 1.5em;
    padding:2rem;
    margin:0;
    width: 100%;
    background: rgba(0,0,0,0.3175);
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
    }
  }
  .section1, .section2 {
    margin-left: 1rem;
    //background: linear-gradient(to right, #ddfff4, #FFF);
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
    section {
      @include media-breakpoint-down(md) {
        // padding: 8%;
      }
      .section-head {
        padding-top: 2rem; 
        padding-bottom: 2rem;
        @include media-breakpoint-down(md) {
          display: block;
          text-align: center;
          .tinyicon {
            display: block;
          }
        }
        .section-title {
          white-space: nowrap;
          border-bottom: 2px solid #d7ffd2;
          padding-bottom: 0.35rem;
        }
      }
    }
  }

  .tinyicon {
    margin-right: 1rem;
    img {
      padding: 0.25rem;
      background-color: #dff7c3;
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }
  }

  .lil-icons{
    transform: rotate(0deg);
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
  .lilicon {
    font-size: 1.25em;
    img {
      border-radius: 50%;
      padding: 5px;
      margin-left: 1rem;
      background: #FFF;

      margin-right: 1em;
      box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.19);
      transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.025);
        cursor: pointer;
        box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.25);
      }

      width: 8rem;
      height: 8rem;
      @include media-breakpoint-down(md) {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
